.nav {
    width: 100%;
    justify-content: space-around;
    display: flex;

}

.items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titleNameBar {
    color: white;
    font-size: 1.2em;
}
.titleNameBar:hover {
    color: rgba(157, 224, 221, 0.64);
    cursor: pointer;
    transition: width 2s, background-color 1s, height 4s; /* плаыный переход*/
}

.item a {
    color: #c1dff1;
    font-size: 20px;
    text-decoration: none;
}

.item a.activeLink {
    color: #0f1e3d;
}

.item a:hover {
    background-color: #4682B4;
    color: white;
    cursor: pointer;
    transition: width 2s, background-color 1s, height 4s; /* плаыный переход*/
}

